---
name: Kitchen

on: [push, pull_request]

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["2.7"]
        chef: ["15", "16"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Set up cache
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Prepare
        run: |
          bundle config path vendor/bundle
          bundle config set without 'development vagrant'
          bundle || bundle install --jobs 4 --retry 3
      - name: Test
        run: |
          bundle exec kitchen test
        env:
          KITCHEN_YAML: .kitchen.dokken.yml
          CHEF_VERSION: ${{ matrix.chef }}
          CHEF_LICENSE: accept-no-persist
      - name: Show log file
        run: |
          for i in $(ls.kitchen/logs/*.log); do
            echo "logfile: $i"
            cat "$i"
          done
      - uses: actions/upload-artifact@v2
        with:
          name: kitchen.log
          path: .kitchen/logs/kitchen.log
