on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        chef:
          - 15
          - 16
          - 17
          - 18
        platform:
          - centos-7
          - centos-8

    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - name: Run Unit tests
        run: |
          bundle exec rake lint

      - name: Run Integration tests
        run: |
          bundle exec kitchen test
        env:
          CHEF_LICENSE: accept-no-persist
          CHEF_VERSION: ${{ matrix.chef }}
          KITCHEN_YAML: kitchen.dokken.yml
          PLATFORM_VERSION: ${{ matrix.platform }}
